*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  scroll-behavior: smooth;
}

.page__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  margin: 0;
  min-width: size(320px);
  min-height: 100%;
  font-family: $main-font-inter;
  color: $accent-color;
  background-color: $white-color;
  font-size: size-desktop($fz-default);
  font-weight: 400;
  line-height: size(22px);

  @include vp-1023 {
    font-size: $fz-default;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
