.btn {
  display: block;
  padding: size(10px) size(55px);
  background-color: $accent-color;
  color: $white-color;
  border-radius: size(10px);
  min-width: size(202px);
  text-decoration: none;

  font-size: size(24px);
  line-height: size(29px);

  &--white {
    background-color: $white-color;
    border: size(1px) solid $accent-color;
    color: $accent-color;
  }
}